{% load static wagtailuserbar menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/wagtail_tuto.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
            <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" role="navigations">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    {% main_menu %}
                </div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
                {% include "blog/components/sidebar.html" %}
            </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/wagtail_tuto.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            <script src={% static "blog/vendor/jquery/jquery.min.js" %}></script>
            <script src={% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
        {% endblock %}
    </body>
</html>
